@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a DataCare</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text_center">
    <button onclick="location.href='/RegistroPaciente'">Registro</button>
    <br>
    <button onclick="location.href='/InicioDeSesion'">Iniciar Sesion</button>
</div>
